<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li class="p-name">
          </li>
          {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
        {%- include social.html -%}

      </div>
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>A recepção conta com o apoio do instituto, das CPGs e das CCPs do IME.</li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />
          Este site está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Atribuição-CompartilhaIgual 4.0 Internacional</a>.
        </p>
        <p><a href="https://gitlab.com/crpg-ime-usp/homepage">Código fonte</a></p>
      </div>
    </div>

  </div>

</footer>
